Flask==3.0.0
Flask-Cors==4.0.1
Flask-SQLAlchemy==3.1.1
Flask-Caching==2.3.0
Flask-Login==0.6.3
Flask-Bcrypt==1.0.1
fastai==2.7.17
scikit-learn==1.6.0
tensorflow==2.16.1
tensorflow-intel==2.16.1
keras==3.4.1
joblib==1.4.2
numpy==1.26.4
pandas==2.1.4
Pillow==10.1.0
Werkzeug==3.0.1
python-dotenv==1.0.0
SQLAlchemy==2.0.22
efficientnet==1.0.0
opencv-python==4.9.0.80
matplotlib==3.7.1
seaborn==0.13.2
torchvision==0.18.1
torch==2.3.1
bcrypt==4.1.2